<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="error/_fragments :: head(~{::title})">
  <title>404-Not-Found</title>
</head>
<body>


<br>
<br>
<br>

<div class="ui m-opacity m-margin-top-max container">
<img src="/static/images/404.jpg" th:src="@{/images/404.jpg}" alt="" class="ui rounded bordered fluid image">
</div>
<div class="m-margin-top-max" align="center">
  <a href="#" th:href="@{/}">
   <button type="button" class="ui teal button m-mobile-wide"><i class="home icon"></i>返回首页</button>
  </a>
</div>

<br>
<br>




<!--script-->
<div th:replace="error/_fragments :: script">

</div>

</body>
</html>
