<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>照片墙-LeBrWcd</title>
    <meta name=”Description” Content=”LeBrWcd的个人博客，照片墙页面，收录LeBrWcd个人生活照片”>
    <meta name=”Keywords” Content=”LeBrWcd,照片墙,照片″>
    <link  th:href="@{/images/la.ico}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="../../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/lib/picture/css/jkresponsivegallery.css" th:href="@{/lib/picture/css/jkresponsivegallery.css}">
</head>
<body>



<!--导航-->
<nav th:replace="front/_fragments :: menu(5)"/>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../../static/images/picturebg.jpg" th:src="@{https://lebrwcd-edu1010.oss-cn-guangzhou.aliyuncs.com/blog/coco.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">愿你出走半生，归来仍是少年</div>
        </div>
    </div>
</div>

<!--照片墙-->
<div id="picture-main">

    <article class="thumb" th:each="picture : ${pictures}">
        <div class="ma5-gallery">
            <div class="rthumbnail">
                <a href="../../static/images/backimg1.jpg" th:href="@{${picture.pictureaddress}}">
                    <img class="picture-zmki_px" src="../../static/images/backimg1.jpg" th:src="@{${picture.pictureaddress}}">
                </a>
                <div class="m-picture-text" th:text="${picture.picturename}">起风了</div>
                <div  class="rcaption">
                    <div style="font-size: large;" th:text="${picture.picturename}">起风了</div>
                    <div style="font-size: 16px" class="m-margin-top" th:text="${picture.picturetime}">2020-02-02 &nbsp;深圳</div>
                    <p style="font-size: 16px" th:text="${picture.picturedescription}">我曾难自拔于世界之大，也沉迷于其中梦话</p>
                </div>
            </div>
        </div>
    </article>

</div>



<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
    <a href="#" class="ui center aligned basic segment icon"><i class="ui medium green chevron up icon"></i> </a>
</div>

<!--底部栏-->
<!--底部栏-->
<footer th:replace="front/_fragments :: footer">

    <!--博客运行时间统计-->
    <div class="four wide column">
        <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">小屋信息</div>
        <!--<p id="htmer_time" class="item m-text-thin"></p>-->
        <div id="blog-message">
            <div class="ui inverted link list" style="align-content: center;margin-top: 10px" th:fragment="blogMessage">
                <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                    文章总数： <h2 class="ui green header m-inline-block m-margin-top-null" style="font-size: medium" th:text="${blogTotal}"> 14 </h2> 篇
                </div>
                <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                    访问总数： <h2 class="ui green header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogViewTotal}"> 14 </h2> 次
                </div>
                <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                    评论总数： <h2 class="ui green header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
                </div>
                <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                    留言总数： <h2 class="ui green header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
                </div>
            </div>
        </div>
    </div>
    </div>

</footer>


<script src="../../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
<script src="../../static/lib/picture/js/jquery.min.js" th:src="@{/lib/picture/js/jquery.min.js}"></script>
<script src="../../static/lib/picture/js/jkresponsivegallery.js" th:src="@{/lib/picture/js/jkresponsivegallery.js}"></script>

<script>
    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


    $(function() {
        $('.rthumbnail').responsivegallery();
    });

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 05, 20, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);

  </script>
</body>
</html>
